.user-search-modal {
    /* position */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1100;
    
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    /* size */
    width: 100vw;
    height: 100vh;
    
    /* color */
    background: #0005;
}

.user-search-modal__menu {
    /* position */
    position: relative;

    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    
    /* size */
    width: 100%;
    width: 500px;
    max-height: 90vh;
    padding: 20px;
    
    /* border */
    border-radius: 18px;
    
    /* color */
    background: #E2E2E2;
    
} @media only screen and (max-width: 550px) {
    .user-search-modal__menu {
        /* size */
        max-width: calc(100% - 30px);
    }
}

.user-search-modal__message {
    /* layout */
    text-align: center;

    /* size */
    margin: 10px 10px 15px 10px;
    
    /* color */
    color: #717171;

    /* font */
    font-size: 22px;

} @media only screen and (max-width: 550px) {
    .user-search-modal__message {    
        /* font */
        font-size: 20px;
    }
}

.user-search-modal__list {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    
    /* size */
    width: 100%;
    height: 500px;
    margin: 15px 0px 0px 0px;
    padding: 20px;
    gap: 25px;
    
    /* border */
    border-radius: 15px;
    box-shadow: inset 0px 2px 3px #0005;

    /* color */
    background: #FFF; 
    
} @media only screen and (max-width: 550px) {
    .user-search-modal__list {
        /* size */
        height: 400px;
        padding: 15px;
    }
}

.user-search-modal__close-button {
    /* position */
    position: absolute;
    top: 10px;
    right: 10px;
    
    /* layout */
    box-sizing: content-box;

    /* size */
    width: 15px;
    height: auto;
    padding: 10px;
    
    /* select */
    cursor: pointer;

}  @media (hover: hover) {
    .user-search-modal__close-button:hover {
        /* color */
        filter: brightness(65%);
    }
}

.user-search-modal__empty-message {
    /* layout */
    text-align: center;

    /* size */
    width: 100%;
    margin: 100px 20px 0px 20px;
    
    /* color */
    color: #B2B2B2;
    
    /* font */
    font-size: 22px;

} @media only screen and (max-width: 550px) {
    .user-search-modal__empty-message {
        /* font */
        font-size: 18px;
    }
}

.user-list-item {
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* size */
    width: 100%;
    gap: 50px;
} @media only screen and (max-width: 550px) {
    .user-list-item {
        /* size */
        gap: 25px;
    }
}

.user-list-item__profile-package {
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    /* size */
    min-width: 0px;
    gap: 15px;
    
    /* animation */
    transition: transform 120ms ease;
    
    /* select */
    cursor: pointer;

} @media (hover: hover) {
    .user-list-item__profile-package:hover {
        /* animation */
        transform: translateY(-2px);
    }
}

.user-list-item__username {
    /* layout */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    /* color */
    color: #717171;
    
    /* font */
    font-size: 16px;
    
} @media only screen and (max-width: 550px) {
    .user-list-item__username {
        /* font */
        font-size: 14px;
    }
}

.user-list-item__profile-picture {
    /* layout */
    box-sizing: content-box;

    /* size */
    width: 35px;
    height: 35px;
    
    /* border */
    border-radius: 50%;
    
} @media only screen and (max-width: 550px) {
    .user-list-item__profile-picture {
        /* size */
        width: 30px;
        height: 30px;
    }
}

.user-list-item__follow-button,
.user-list-item__unfollow-button {
    /* size */
    min-width: 60px;
    height: 25px;
    
    /* border */
    border-radius: 10px;
    
    /* font */
    font-size: 14px;
    
    /* animation */
    transition: transform 120ms ease;
    
} @media (hover: hover) {
    .user-list-item__follow-button:hover,
    .user-list-item__unfollow-button:hover {
        /* animation */
        transform: translateY(-2px);
    }

} .user-list-item__follow-button {
    /* size */
    padding: 2px 6px 2px 6px;
    
    /* border */
    border: 2px solid #E2E2E2;

    /* color */
    background: #FFF;
    color: #717171;

} .user-list-item__unfollow-button {
    /* size */
    padding: 4px 8px 4px 8px;
    
    /* border */
    box-shadow: 0px 2px 5px #0003;

    /* color */
    background: #0D4B89;
    color: #FFF;
    
} @media only screen and (max-width: 550px) {
    .user-list-item__follow-button,
    .user-list-item__unfollow-button {
        /* size */
        min-width: 50px;
        height: 23px;
        
        /* border */
        border-radius: 8px;
    }
} @media only screen and (max-width: 450px) {
    .user-list-item__follow-button,
    .user-list-item__unfollow-button {
        /* size */
        min-width: 40px;
        height: 20px;
        
        /* border */
        border-radius: 7px;
    }
} @media only screen and (max-width: 400px) {
    .user-list-item__follow-button,
    .user-list-item__unfollow-button {
        /* size */
        min-width: 30px;
        height: 18px;
        
        /* border */
        border-radius: 7px;
        
        /* font */
        font-size: 13px;
    }
}

.user-searchbar {
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    /* size */
    width: 100%;
    
    /* border */
    box-shadow: inset 0px 2px 3px #0005;
    border-radius: 15px;

    /* color */
    background: #FFF;
}

.user-searchbar__input {
    /* size */
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 10px;
    
    /* border */
    border-radius: 15px;

    /* color */
    color: #717171;

    /* font */
    font-size: 16px;

} .user-searchbar__input::placeholder {
    /* color */
    color: #B2B2B2;
    
} @media only screen and (max-width: 550px) {
    .user-searchbar__input {
        /* size */
        padding: 8px 10px 8px 10px;
        
        /* border */
        border-radius: 12px;
        
        /* font */
        font-size: 14px;
    }
}

.user-searchbar__clear-button {
    /* layout */
    box-sizing: content-box;

    /* size */
    width: 12px;
    height: 12px;
    padding: 15px;
    
    /* select */
    cursor: pointer;

} @media (hover: hover) {
    .user-searchbar__clear-button:hover {
        /* color */
        filter: brightness(65%);
    }
}

